!!! 5
%html
  %head
    %title= "Your Website"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    {% assets "all.css" %}
    %link{ :href => "{{ ASSET_URL }}", :media => "screen", :rel => "stylesheet" }
    {% endassets %}
    %link{ :href => "{{ favicon_url }}", :type => "image/x-icon", :rel => "shortcut icon"}

  %header
    .content
      %img{ :src => "{{ logo_url }}" }

  %section
    .content


  %footer
    %p Copyright 2013
