!!! 5
%html
  %head
    %title= "Your Website"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %link{ :href => "{{ index_css_url }}", :media => "screen", :rel => "stylesheet" }

  %header
    .content
      %img{ :src => "{{ logo_url }}" }

  %section
    .content


  %footer
    %p Copyright 2013
