!!! 5
%html
  %head
    %title= "Revel bootstrap"
    %meta{ :content => "RevelSystems bootstrap website.", :name => "description" }
    %meta{ :content => "revelsystems.com", :name => "author" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    {% assets "app.css" %}
    %link{ :href => "{{ ASSET_URL }}", :media => "screen", :rel => "stylesheet" }
    {% endassets %}
    {% assets "favicon.ico" %}
    %link{ :href => "{{ favicon_url }}", :type => "image/x-icon", :rel => "shortcut icon"}
    {% endassets %}
  %body
    #wrap
      {% block header %}
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            %button{ :type => "button", :class => "navbar-toggle", :data-toggle => "collapse", :data-target => ".navbar-collapse" }
              %span{ :class => "icon-bar"}
              %span{ :class => "icon-bar"}
              %span{ :class => "icon-bar"}
            %a{ :class => "navbar-brand", :href => "#"} Project name
          .collapse.navbar-collapse
            %ul{ :class => "nav navbar-nav"}
              %li{ :class => "active" }
                %a{ :href => "#"} Home
              %li
                %a{ :href => "#about"} About
              %li
                %a{ :href => "#contacts"} Contacts
              %li{ :class => "dropdown" }
                %a{ :href => "#", :class => "dropdown-toggle", :data-toggle => "dropdown" } Dropdown
                  %b{ :class => "caret"}
                %ul{ :class => "dropdown-menu"}
                  %li
                    %a{ :href => "#"} Action
                  %li
                    %a{ :href => "#"} Another action
                  %li
                    %a{ :href => "#"} Something else here
                  %li{ :class => "divider" }
                  %li{ :class => "dropdown-header"} Nav header
                  %li
                    %a{ :href => "#" } Separated link
                  %li
                    %a{ :href => "#"} One more separated link
          <!--/.nav-collapse -->
      {% endblock %}


      .container
      {% block content %}
      {% assets "logo.png" %}
        %img{ :class => "logo", :src => "{{ ASSET_URL }}" }
      {% endassets %}
        .page-header
          %h1 Some header here
        %p{ :class => "lead" } Some text here
      {% endblock %}

    {% block footer %}
    #footer
      .container
        %p{ :class => "text-muted credit"} &copy; Copyright 2013 by
          %a{ :href => "http://revelsystems.com/" } Revel Systems
    {% endblock %}

    {% assets "app.js" %}
    %script{ :src => "{{ ASSET_URL }}", :type => "text/javascript" }
    {% endassets %}