body {
    background: linear-gradient(to bottom, #207ba6 0%,#29a7db 30%, #1db3eb 70%,#28a5d9 100%);
    color: #ffffff;
}

img {
    padding: 1em;
}

a {
    color: #ffffff;
}

p {
    font-size: 1.5em;
}

.big {
    font-size: 3em;
}

.content {
    text-align: center;
    width: 100%;
}