{% extends "layout.html" %}
{% block content %}

<div class="container">
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Instance</th>
            <th>Running</th>
            <th>Process count</th>
            <th>Export timeout</th>
            <th>Actions</th>
        </tr>
    </thead>
  {% for instance in instances %}
    <tr>
        <td>
            <a href="https://{{ instance.dns_name }}" target="_blank">
                {{ instance.name|safe }}
            </a>
            {% for dns in instance.dns_aliases %}
                <a href="https://{{ dns }}" target="_blank">[{{ instance.dns_aliases.index(dns)+1 }}]</a>
            {% endfor %}
        </td>
        <td>
            {% if instance.is_running %}
            <i class="icon-black icon-ok"></i>
            {% else %}
            <i class="icon-black icon-off"></i>
            {% endif %}
        </td>
        <td>{{ instance.process_count }}</td>
        <td>{{ instance.export_timeout|humanize_seconds }}</td>
        <td><button
                class="download btn btn-primary btn-small"
                data-instance="{{ instance.name }}"
                data-url="{{ url_for('.dummy_task', instance_name=instance.name) }}">
            <i class="icon-white icon-download"></i> Download</button></td>
    </tr>
  {% else %}
    <tr>
        <td colspan="5">Unbelievable. No instances on this server so far.</td>
    </tr>
  {% endfor %}
  </table>
</div>

<script type="text/javascript">
function issue_download() {
    var instance = $(this).data('instance');
    var url = $(this).data('url');
    $.ajax({
        url: url
    }).done(function(data) {
        alert(data['task_id']);
        //$(this).addClass("done");
    });
}

function loaded() {
    $(".download").click(issue_download);
}

$(document).ready(loaded);
</script>

{% endblock %}