<!doctype html>

<title>Atlas Mate</title>
<link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap.css') }}">
<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-2.0.2.min.js') }}" ></script>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{ url_for('.server') }}">Atlas Mate</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if page == "server" %}class="active"{% endif %}><a href="{{ url_for('.server') }}">Server Info</a></li>
          <li {% if page == "instances" %}class="active"{% endif %}><a href="{{ url_for('.instances') }}">Instances</a></li>
          <li {% if page == "git" %}class="active"{% endif %}><a href="{{ url_for('.commits') }}">Git Log</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

{% block content %}
{% endblock %}
