{% extends "layout.html" %}
{% block content %}

<div class="container">
    <table class="table">
        <tr>
            <th scope="row">CPU:</th>
            <td>{{ server.cpu_usage }}%</td>
        </tr>
        <tr>
            <th scope="row">RAM:</th>
            <td>{{ server.ram_used|humanize_bytes }} of {{ server.ram_total|humanize_bytes }} ({{ server.ram_usage }}%)</td>
        </tr>
        <tr>
            <th scope="row">HDD:</th>
            <td>{{ server.hdd_used|humanize_bytes }} of {{ server.hdd_total|humanize_bytes }} ({{ server.hdd_usage }}%)</td>
        </tr>
        <tr>
            <th scope="row">Instances:</th>
            <td><a href="{{ url_for('.instances') }}">{{ server.instance_count }}</a></td>
        </tr>
        <tr>
            <th scope="row">Version:</th>
            <td><a href="{{ url_for('.commits') }}">{{ server.version }}</a></td>
        </tr>
    </table>
</div>

{% endblock %}